@function map($map, $map-name, $map-key: null) {
  // Get the value from $map-name in the map
  // this can be of type map or a map
  $map-value: map-get($map, $map-name);
  // If we were given a map we need to grab the value
  // of the key that is passed or the base key
  @if(type-of($map-value) == map) {
    @if($map-key) {
      $map-value: map-get($map, $map-name, $map-key);
    } @else {
      $map-value: map-get($map, $map-name, base);
    }
  }
  // If it isn't a map then return the value
  @return $map-value;
}
