.content {
  @include respond-to(small) {
    margin-left: 80px;
  }
}

.title-block {
  text-align: center;

  @include respond-to(small) {
    margin-left: 45px;
    text-align: left;
  }
}

.title {
  color: #fff;
  font-size: 64px;
  margin-bottom: 0;

  @include respond-to(small) {
    font-size: 48px;
  }

  @include respond-to(medium) {
    font-size: 64px;
  }
}

.subtitle {
  color: $accent;
  font-size: 32px;
  margin-top: 12px;
}

.app-store {
  margin: 8px;
}

.app-store-block {
  margin-top: 0;

  @include respond-to(small) {
    margin-top: 30px;
  }
}

.phones {
  display: none;

  @include respond-to(small) {
    display: block;
    max-width: 301px;
  }

  @include respond-to(medium) {
    max-width: 401px;
  }
}


.main-block {
  display: flex;
  flex-direction: column;

  @include respond-to(small) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.main-logo {
  @include size(100px);

  @include respond-to(small) {
    @include size(120px);
  }

  @include respond-to(medium) {
    @include size(149px);
  }
}
