.contact {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin: 20px 0;
  transition: 300ms ease-in-out;

  &:hover {
    color: $accent;
  }

  @include respond-to(small) {
    font-size: 28px;
  }

  @include element(image) {
    margin-right: 15px;
    @include size(30px);

    @include respond-to(small) {
      margin-right: 20px;
      @include size(40px);
    }
  }
}
