:root {
  --primary: #1a3158;
  --secondary: #54c7fc;
  font-size: 24px;
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Futura-Medium.woff') format('woff');
}
