* {
  font-weight: 500;
}

body {
  align-items: center;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  font-family: 'Futura', sans-serif;
  justify-content: center;
  padding: 30px 10px;
  max-height: 100vh;
  min-height: 100vh;
}

img {
  max-width: 100%;
}
