.row {
  align-items: center;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-to(small) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
